<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src= "/assets/javascripts/external/angular.min.js" type="text/javascript"></script>
    <script src= "/assets/javascripts/external/angular-route.js" type="text/javascript"></script>
    <script src="/assets/javascripts/app.js" type="text/javascript"></script>
    <script src="/assets/javascripts/controllers/new.js" type="text/javascript"></script>
</head>
<body ng-app="2GIG">
<div ng-controller="NewAdCtrl">
    {{new}}
    <form id="create_form">
        <input type="text" id="author" name="author" placeholder="Name" ng-model="new.author" />
        <input type="text" id="title" name="title" placeholder="Ad title" ng-model="new.title" />
        <input type="text" id="description" name="description" placeholder="Description" ng-model="new.description" />

        <input type="text" id="street" name="street" placeholder="Street name" ng-model="new.street" />
        <input type="text" id="number" name="number" placeholder="Number" ng-model="new.number" />
        <input type="text" id="neighbourhood" name="neighbourhood" placeholder="Neighbourhood" ng-model="new.neighbourhood" />
        <input type="text" id="city" name="city" placeholder="City" ng-model="new.city" />
        <input type="text" id="state" name="state" placeholder="State" ng-model="new.state" />
        <input type="text" id="country" name="country" placeholder="Country" ng-model="new.country" />

        <input type="email" id="email" name="email" placeholder="E-mail" ng-model="new.email" />
        <input type="text" id="phone1" name="phone1" placeholder="Phone number" ng-model="new.phone1" />

        <input type="text" id="instrument" name="instrument" placeholder="Instrument" ng-model="new.instrument" />
        <input type="text" id="desired_styles" name="desired_styles" placeholder="What styles you wanna play" ng-model="new.desired_styles" />
        <input type="text" id="undesired_styles" name="undesired_styles" placeholder="What styles you DONT wanna play" ng-model="new.undesired_styles" />

        <input type="number" id="interest" name="interest" placeholder="Casual or Band?" ng-model="new.interest" />
        <input type="text" id="passwd" name="passwd" placeholder="Pass" ng-model="new.passwd" />

        <button type="submit" form="create_form" value="Send" id="send" ng-click="newAds()">Send</button>

    </form>
</div>
</body>
</html>