<!-- Modal Structure -->
<div id="newAd" class="modal">
    <div class="modal-content" ng-controller="NewAdCtrl">
        <h4>Anuncia aí, moral!</h4>
        <div class="col s8 offset-s2">
            <div class="row">
                <div class="col s12">
                    <form id="create_form" ng-submit="newAds()"></form>
                    <div class="input-field col s4">
                        <input id="title" type="text" name="title" form="create_form" class="validate" maxlength="60" ng-model="new.title" required>
                        <label for="title">Título do seu anúncio</label>
                    </div>
                    <div class="input-field col s8">
                        <input id="description" type="text" name="description" class="validate"
                                  ng-model="new.description" form="create_form" required>
                        <label for="description">Fale um pouco mais sobre o que você procura</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="desired_styles" type="text" name="desired_styles" form="create_form" class="validate" ng-model="new.desired_styles">
                        <label for="desired_styles">Estilos que você gostaria de tocar</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="undesired_styles" type="text" name="undesired_styles" form="create_form" class="validate" ng-model="new.undesired_styles">
                        <label for="undesired_styles">Estilos que você não gostaria de tocar</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="instrument" type="text" name="instrument" form="create_form" class="validate" ng-model="new.instrument" required>
                        <label for="instrument">Instrumentos que você toca</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="passwd" type="password" name="passwd" form="create_form" class="validate" ng-model="new.passwd" required>
                        <label for="passwd">Palavra-passe (pra encerrar o anúncio depois)</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="author" type="text" name="author" form="create_form" class="validate" maxlength="60" ng-model="new.author" required>
                        <label for="author">Seu nome</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="email" type="email" name="email" class="validate"
                               ng-model="new.email" form="create_form">
                        <label for="email">Seu e-mail</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="phone1" type="text" name="phone1" class="validate"
                               ng-model="new.phone1" form="create_form">
                        <label for="phone1">Telefone</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="facebook" type="text" name="facebook" class="validate"
                               ng-model="new.facebook" form="create_form">
                        <label for="facebook">Facebook</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="street" type="text" name="street" form="create_form" class="validate" ng-model="new.street" required>
                        <label for="street">Rua</label>
                    </div>
                    <div class="input-field col s1">
                        <input id="number" type="text" name="number" form="create_form" class="validate" ng-model="new.number" required>
                        <label for="number">No.</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="neighbourhood" type="text" name="neighbourhood" form="create_form" class="validate" ng-model="new.neighbourhood" required>
                        <label for="neighbourhood">Bairro</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="city" type="text" name="city" form="create_form" class="validate" ng-model="new.city" required>
                        <label for="city">Cidade</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="state" type="text" name="state" form="create_form" class="validate" ng-model="new.state" required>
                        <label for="state">Estado</label>
                    </div>
                    <div class="input-field col s6">
                        <input class="with-gap" name="interest" type="radio" id="banda" value="banda" form="create_form" ng-model="new.interest" required />
                        <label for="banda">Procuro uma banda</label>
                        <input class="with-gap" name="interest" type="radio" id="casual" value="casual" form="create_form" ng-model="new.interest" required />
                        <label for="casual">Só quero tocar casualmente</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="btn" type="submit" form="create_form" value="Publicar anúncio" id="send" />
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
    </div>

</div>
